<div class="container">
	<h1 class="text-center text-black">Doanh thu theo Năm</h1>
	<div class="form-group">
		<div>Chọn năm</div>
		<select class="form-control" ng-model="selectedYear" ng-change="getRevenueByYear()">
			<option value="" disabled selected>Chọn năm</option>
			<option ng-repeat="y in years" ng-value="y">{{y}}</option>
		</select>
	</div>

	<div ng-show="selectedYear !== null">
		<h3 class="my-3 font-weight-bold text-dark">Year: <span ng-bind="selectedYear"></span></h3>
		<table class="table table-hover text-black">
			<thead>
				<tr>
					<th class="text-primary">Month</th>
					<th class="text-primary">Total Revenue</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in revenueItems">
					<td ng-bind="item[0]"></td>
					<td ng-bind="'$' + item[1]"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="chartContainer" style="height: 370px; width: 100%;"></div>
</div>