<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/layout.html::dynamic(~{::title}, ~{::body})}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<head>
	<title>Shoe Galaxy</title>
	<meta charset="utf-8">
</head>

<body>
	<div class="bg-light py-3">
		<div class="container">
			<div class="row">
				<div class="col-md-12 mb-0">
					<a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <a href="cart.html">Cart</a> <span
						class="mx-2 mb-0">/</span> <strong class="text-black">Checkout</strong>
				</div>
			</div>
		</div>
	</div>

	<div class="site-section">
		<div class="container">
			<div class="row mb-5">
				<div class="col-md-12">
					<div class="border p-4 rounded" role="alert">
						Returning customer? <a href="#">Click here</a> to login
					</div>
				</div>
			</div>
			<div th:if="${messages != null}" class="alert alert-danger">
				<p th:text="${messages}"></p>
			</div>
			<form action="/checkout.html" method="post">
				<div class="row">
					<div class="col-md-6 mb-5 mb-md-0">
						<h2 class="h3 mb-3 text-black">Your Order</h2>

						<div class="p-3 p-lg-5 border">
							<table class="table site-block-order-table mb-5">
								<thead>
									<th>Id</th>
									<th>Image</th>
									<th>Size</th>
									<th>Price</th>
									<th>Count</th>
									<th>Total</th>
								</thead>
								<tbody>
									<tr ng-repeat="item in cart.items">
										<td><input ng-model="item.id" type="text" name="productId" style="width: 50%">
										</td>

										<td><img style="width: 50%" src="/images/{{item.image}}"></td>

										<td><input ng-model="item.sizes" type="text" name="sizeId"
												style="width: 100%"><br></td>
										<td>${{cart.price_product(item)}}</td>
										<td><input ng-change="cart.saveToLocalStorage()" name="countProduct"
												ng-model="item.qty" type="number" min="1" style="width: 30px"
												class="border border-light" /></td>


										<td>${{cart.amtt_of(item) | number : 2}}</td>


									</tr>
									<tr>
										<td class="text-black font-weight-bold"><strong>Order
												Total</strong></td>

										<td><input class="text-black font-weight-bold border border-light" type="text"
												name="total"
												th:value="${calculatedValue != null ?  + calculatedValue : '{{cart.amount | number : 2}}'}" />

											<input style="text-decoration: line-through;"
												class="text-black font-weight-bold border border-light" type="text"
												th:value="${{cartAmount}}" />
										</td>
										<td><input type="hidden" id="inputAmount" name="totalAmount"
												value="{{cart.amount}}" /></td>



									</tr>

								</tbody>
							</table>

							<input class="text-black font-weight-bold border border-light" type="text"
								th:value="${{idCode}}" name="IdCode" />

							<div class="btn-group btn-group-toggle d-flex flex-column mb-4" data-toggle="buttons">
								<label class="btn btn-secondary active"> <input type="radio" name="options" id="option1"
										autocomplete="off" checked> Thanh toán khi nhận hàng
								</label>
								<label class="btn btn-secondary"> <input type="radio" name="options" id="option2"
										autocomplete="off">
									Paypal
								</label>
								<label class="btn btn-secondary"> <input type="radio" name="options" id="option3"
										autocomplete="off"> Thẻ
									ngân hàng
								</label>
							</div>

							<div class="form-group">
								<button class="btn btn-primary btn-lg py-3 btn-block">
								Place Order
									</button>
							</div>
							<div class="form-group">
								<button class="btn btn-primary btn-lg py-3 btn-block" formaction="/paypal"
									formmethod="post">Paypal</button>
							</div>

						</div>
					</div>

					<div class="col-md-6">

						<div class="row mb-5">
							<div class="col-md-12">
								<h2 class="h3 mb-3 text-black">Billing Details</h2>
								<div class="p-3 p-lg-5 border">

									<div class="form-group row">
								
									<div class="col-md-9">
    <label for="selectedAddress" class="text-black">Choose the address <span class="text-danger">*</span></label>
     <select class="form-select form-select-md mb-3" name="selectedAddress" id="selectedAddress" onchange="getAddressDetails()">
        <option value="">Select an address</option>
        <th:block th:each="address : ${addresses}">
            <option th:value="${address.id}" th:text="${address.account.fullname + ', ' + address.province + ', ' + address.district + ', ' + address.ward}"></option>
        </th:block>
    </select>
</div>		
</div>

<th:block th:each="address : ${addresses}">
    <th:block th:if="${address.activate}">
           <th:block th:if="${address.activate}">
            <label for="selectedAddress" class="text-black">Fullname <span class="text-danger">*</span></label>
        <input class="form-select mb-3" name="fullnamee" id="fullnamee" th:value="${address.account.fullname}">
        
        <label for="selectedAddress" class="text-black">Province/City <span class="text-danger">*</span></label>
        <input class="form-select mb-3" name="provincee" id="provincee" th:value="${address.province}">
        
       
        
        <label for="selectedAddress" class="text-black">District <span class="text-danger">*</span></label>
        <input class="form-select mb-3" name="districtt" id="districtt" th:value="${address.district}">
        
        <label for="selectedAddress" class="text-black">Ward <span class="text-danger">*</span></label>
        <input class="form-select mb-3" name="wardd" id="wardd" th:value="${address.ward}">
        
        <label for="selectedAddress" class="text-black">Address detail <span class="text-danger">*</span></label>
        <input class="form-select mb-3" name="addressa" id="addressa" th:value="${address.address}">
        
        <label for="selectedAddress" class="text-black">Email <span class="text-danger">*</span></label>
        <input class="form-select mb-3" name="emaill" id="emaill" th:value="${address.email}">
    </th:block>

    <th:block th:unless="${address.activate}">
        <!-- Hiển thị thông tin khi activate là false -->
        <label for="selectedAddress" class="text-black">Province/City <span class="text-danger">*</span></label>
        <input class="form-select mb-3" name="provincee" id="provincee" th:value="${address.province}">
        
        <label for="selectedAddress" class="text-black">Fullname <span class="text-danger">*</span></label>
        <input class="form-select mb-3" name="fullnamee" id="fullnamee" th:value="${address.account.fullname}">
        
        <label for="selectedAddress" class="text-black">District <span class="text-danger">*</span></label>
        <input class="form-select mb-3" name="districtt" id="districtt" th:value="${address.district}">
        
        <label for="selectedAddress" class="text-black">Ward <span class="text-danger">*</span></label>
        <input class="form-select mb-3" name="wardd" id="wardd" th:value="${address.ward}">
        
        <label for="selectedAddress" class="text-black">Address details <span class="text-danger">*</span></label>
        <input class="form-select mb-3" name="addressa" id="addressa" th:value="${address.address}">
        
        <label for="selectedAddress" class="text-black">Email <span class="text-danger">*</span></label>
        <input class="form-select mb-3" name="emaill" id="emaill" th:value="${address.email}">
    </th:block>
</th:block>


								
											<!-- <label for="selectedAddress" class="text-black">Province/City <span class="text-danger">*</span></label>
											  <input class="form-select mb-3" name="provincee" id="provincee">
											
											<label for="selectedAddress" class="text-black">Fullname <span class="text-danger">*</span></label>
											  <input class="form-select mb-3" name="fullname" id="fullname">
											  <label for="selectedAddress" class="text-black">District <span class="text-danger">*</span></label>
												 <input class="form-select mb-3" name="districtt" id="districtt">
												 <label for="selectedAddress" class="text-black">Ward <span class="text-danger">*</span></label>
												<input class="form-select mb-3" name="wardd" id="wardd">
											
										<label for="selectedAddress" class="text-black">Address <span class="text-danger">*</span></label>
											  <input class="form-select mb-3" name="address" id="address">
											  
											  <label for="selectedAddress" class="text-black">Email <span class="text-danger">*</span></label>
											  <input class="form-select mb-3" name="email" id="email"> -->
										
										

									</div>

								</div>
							</div>
						</div>

						<div class="row mb-5">
							<div class="col-md-12">
								<h2>Quantities:</h2>
								<ul>
									<li th:each="quantity : ${quantities}" th:text="${quantity}"></li>
								</ul>
								<ul>
									<li th:each="remainingQuantities : ${remainingQuantities}"
										th:text="${remainingQuantities}"></li>
								</ul>

								<div th:if="${error}" class="alert alert-danger">
									<p th:text="${error}"></p>
								</div>
								<h2 class="h3 mb-3 text-black">Coupon Code</h2>
								<div class="p-3 p-lg-5 border">
									<label for="c_code" class="text-black mb-3">Enter your
										coupon code if you have one</label>
									<div class="input-group w-75">
										<input type="text" name="code" placeholder="Nhập mã giảm giá"
											th:value="${code}">

										<div class="input-group-append">
											<button type="submit" formaction="/searchCodee">Tìm
												kiếm</button>

										</div>


									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	
	


 <script>
	
    // Lắng nghe sự kiện khi người dùng chọn một địa chỉ
  function getAddressDetails() {
    var selectedAddressId = $("#selectedAddress").val();
    $.ajax({
        url: '/rest/address/getAddressDetails',
        type: 'GET',
        data: { selectedAddress: selectedAddressId },
        success: function (data) {
            if (data.province && data.district && data.ward) {
                // Lấy thông tin từ dữ liệu và điền vào các trường mới
                $("#fullnamee").val(data.fullname);
                $("#provincee").val(data.province);
                $("#districtt").val(data.district);
                $("#wardd").val(data.ward);
                $("#addressa").val(data.address);
                $("#emaill").val(data.email);
            } else {
                // Xử lý khi không tìm thấy thông tin
                alert("Không tìm thấy thông tin địa chỉ.");
            }
        },
        error: function () {
            
            
        }
    });
}

</script> 
 
	


	




</body>

</html>