<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/layout.html::dynamic(~{::title}, ~{::body})}"
	encoding="UTF-8">

<head>
	<title>Shoe Galaxy</title>
	<meta charset="utf-8">
</head>

<body>
	<div class="bg-light py-3">
		<div class="container">
			<div class="row">
				<div class="col-md-12 mb-0">
					<a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <a href="cart.html">Cart</a> <span
						class="mx-2 mb-0">/</span> <strong class="text-black">Checkout</strong>
				</div>
			</div>
		</div>
	</div>

	<div class="site-section">
		<div class="container">
			<div class="row mb-5">
				<div class="col-md-12">
					<div class="border p-4 rounded" role="alert">
						Returning customer? <a href="#">Click here</a> to login
					</div>
				</div>
			</div>
			<div th:if="${messages != null}" class="alert alert-danger">
				<p th:text="${messages}"></p>
			</div>
			<form action="/checkout.html" method="post">
				<div class="row">
					<div class="col-md-6 mb-5 mb-md-0">
						<h2 class="h3 mb-3 text-black">Your Order</h2>

						<div class="p-3 p-lg-5 border">
							<table class="table site-block-order-table mb-5">
								<thead>
									<th>Id</th>
									<th>Image</th>
									<th>Size</th>
									<th>Price</th>
									<th>Count</th>
									<th>Total</th>
								</thead>
								<tbody>
									<tr ng-repeat="item in cart.items">
										<td><input ng-model="item.id" type="text" name="productId" style="width: 50%">
										</td>

										<td><img style="width: 50%" src="/images/{{item.image}}"></td>

										<td><input ng-model="item.sizes" type="text" name="sizeId"
												style="width: 100%"><br></td>

										<td>${{cart.price_product(item)}}</td>
										<td><input ng-change="cart.saveToLocalStorage()" name="countProduct"
												ng-model="item.qty" type="number" min="1" style="width: 30px"
												class="border border-light" /></td>

										<td><input type="text" name="priceTotal" style="width: 100%; border: none;"
												value="{{ cart.amtt_of(item)}}"></td>



									</tr>
									<tr>
										<td class="text-black font-weight-bold"><strong>Order
												Total</strong></td>

										<td><input class="text-black font-weight-bold border border-light" type="text"
												name="total"
												th:value="${calculatedValue != null ?  + calculatedValue : '{{cart.amount | number : 2}}'}" />

											<input style="text-decoration: line-through;"
												class="text-black font-weight-bold border border-light" type="text"
												th:value="${{cartAmount}}" />
										</td>
										<td><input type="hidden" id="inputAmount" name="totalAmount"
												value="{{cart.amount}}" /></td>



									</tr>

								</tbody>
							</table>

							<input class="text-black font-weight-bold border border-light" type="text"
								th:value="${{idCode}}" name="IdCode" />

							<div class="btn-group btn-group-toggle d-flex flex-column mb-4" data-toggle="buttons">
								<label class="btn btn-secondary active"> <input type="radio" name="options" id="option1"
										autocomplete="off" checked> Thanh toán khi nhận hàng
								</label>
								<label class="btn btn-secondary"> <input type="radio" name="options" id="option2"
										autocomplete="off">

									Paypal
								</label>
								<label class="btn btn-secondary"> <input type="radio" name="options" id="option3"
										autocomplete="off"> Thẻ
									ngân hàng
								</label>
							</div>

							<div class="form-group">
								<button class="btn btn-primary btn-lg py-3 btn-block">Place
									Order</button>
							</div>
							<div class="form-group">
								<button class="btn btn-primary btn-lg py-3 btn-block" formaction="/paypal"
									formmethod="post">Paypal</button>
							</div>

						</div>
					</div>

					<div class="col-md-6">

						<div class="row mb-5">
							<div class="col-md-12">
								<h2 class="h3 mb-3 text-black">Billing Details</h2>
								<div class="p-3 p-lg-5 border">

									<div class="form-group row">


										<div class="col-md-12">
											<label th:text="${message}"></label> <label for="c_fname"
												class="text-black">Name<span class="text-danger">*</span>
											</label> <input type="text" class="form-control" id="fullname"
												name="fullname" th:value="${user.fullname}" required>
										</div>
										<div class="col-md-12 pt-4">
											<label for="c_email_address" class="text-black">Email
												Address <span class="text-danger">*</span>
											</label> <input type="text" class="form-control" id="email" name="email"
												th:value="${user.email}" required>
										</div>

										<div class="col-md-12 pt-4">
											<label class="text-danger" th:text="${session.messagesAddress}"></label>
											<select class="form-select" name="address2" id="address2">
												<option selected disabled>Open address menu</option>
												<!-- Kiểm tra điều kiện userAddresses null hoặc trống -->
												<th:block
													th:if="${userAddresses == null or #lists.isEmpty(userAddresses)}">
													<option value="" disabled>Vui lòng thêm địa chỉ</option>
												</th:block>
												<!-- Nếu userAddresses không null và không trống, hiển thị danh sách địa chỉ -->
												<th:block
													th:if="${userAddresses != null and not #lists.isEmpty(userAddresses)}">
													<option th:each="address : ${userAddresses}"
														th:value="${address.id}" th:text="${address.addressDetail}">
													</option>
											</select>
										</div>

										<a class="mt-4" id="editButton">Edit</a>

										<div class="col-md-12 mt-3 address-div" style="display: none;">
											<label for="c_fname" class="text-black">Province/City<span
													class="text-danger">*</span>
											</label>
											<select class="form-select mb-3" name="provinceLabel" id="province">
												<!--<option value="">chọn tỉnh/thành phố</option>-->
											</select>

											<label for="c_fname" class="text-black">District<span
													class="text-danger">*</span>
											</label>
											<select class="form-select mb-3" name="districtLabel" id="district">
												<option value="">chọn quận</option>
											</select>

											<label for="c_fname" class="text-black">Ward<span
													class="text-danger">*</span>
											</label>
											<select class="form-select mb-3" name="wardLabel" id="ward">
												<option value="">chọn phường</option>
											</select>


											<label for="c_address" class="text-black">Street Name <span
													class="text-danger">*</span></label> <input type="text"
												class="form-control" id="address" name="address"
												placeholder="Street Name">

											<div class="btn-group w-100" role="group" aria-label="Basic example">
												<button class="btn btn-primary my-3  py-3 btn-block  mx-1"
													formaction="/addAddress" formmethod="post">Thêm</button>
												<button class="btn my-3  py-3 btn-block  mx-1 "
													formaction="/updateAddress" formmethod="post">Sửa</button>
												<button class="btn my-3  py-3 btn-block  mx-1 "
													formaction="/deleteAddress" formmethod="post">Xóa</a>
											</div>

										</div>

									</div>

								</div>
							</div>
						</div>

						<div class="row mb-5">
							<div class="col-md-12">
								<h2>Quantities:</h2>
								<ul>
									<li th:each="quantity : ${quantities}" th:text="${quantity}"></li>
								</ul>
								<ul>
									<li th:each="remainingQuantities : ${remainingQuantities}"
										th:text="${remainingQuantities}"></li>
								</ul>

								<div th:if="${error}" class="alert alert-danger">
									<p th:text="${error}"></p>
								</div>
								<h2 class="h3 mb-3 text-black">Coupon Code</h2>
								<div class="p-3 p-lg-5 border">
									<label for="c_code" class="text-black mb-3">Enter your
										coupon code if you have one</label>
									<div class="input-group w-75">
										<input type="text" name="code" placeholder="Nhập mã giảm giá"
											th:value="${code}">

										<div class="input-group-append">
											<button type="submit" formaction="/searchCodee">Tìm
												kiếm</button>

										</div>


									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<script>
		// Thêm sự kiện click ẩn hiện vào nút "Edit"
		var addressDiv = document.querySelector('.address-div');
		var editButton = document.getElementById("editButton");
		editButton.addEventListener("click", function () {
			var isHidden = addressDiv.style.display === "none";
			if (isHidden) {
				addressDiv.style.display = "block";
			} else {
				addressDiv.style.display = "none";
			}
		});

		


	</script>
</body>

</html>