<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{/layout/layout.html::dynamic(~{::title}, ~{::body})}"
>
  <head>
    <title th:text=" ${prod.name}"></title>

    <meta charset="utf-8" />
    <style>
      .content {
        padding-left: 20px;
      }

      .content p {
        margin-bottom: 15px;
        text-transform: lowercase;
      }

      .h6 {
        font-weight: 500;
      }
    </style>
  </head>

  <body ng-app="app" ng-controller="cart-ctrl">
    <div class="site-sectionn">
      <div class="container be-vietnam">
        <div class="row">
          <div class="col-md-6">
            <!-- Carousel -->

            <!-- Carousel -->
            <div id="demo" class="carousel slide" data-bs-ride="carousel">
              <!-- Indicators/dots -->
              <ol class="carousel-indicators align-item-center">
                <li
                  th:each="i, iterStat : ${prod.images}"
                  data-target="#demo"
                  data-slide-to="[[${iterStat.index}]]"
                  th:classappend="${iterStat.index == 0} ? 'active' : ''"
                >
                  <img
                    th:src="@{|/images/${i.image}|}"
                    class="d-block w-100 img-thumbnail"
                    width="150%"
                  />
                </li>
              </ol>

              <!-- The slideshow/carousel -->
              <div class="carousel-inner" style="align-items: center">
                <div
                  class="carousel-item"
                  th:each="i, iterStat : ${prod.images}"
                  th:classappend="${iterStat.index == 0} ? 'active' : ''"
                >
                  <img
                    th:src="@{|/images/${i.image}|}"
                    class="d-block w-100"
                    style="border-radius: 50px"
                  />
                </div>
              </div>

              <button
                class="carousel-control-prev"
                type="button"
                data-target="#demo"
                data-slide="prev"
              >
                <span class="carousel-control-prev-icon"></span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-target="#demo"
                data-slide="next"
              >
                <span class="carousel-control-next-icon"></span>
              </button>
            </div>
          </div>
          <div class="col-md-6 mt-5" style="border-left: 1px dashed wheat">
            <h3 th:text="${prod.name}" class="mb-3"></h3>

            <div
              class="mt-4 mb-3"
              th:if="${prod.discountProduct != null and not #lists.isEmpty(prod.discountProduct)}"
            >
              <div
                class="d-flex flex-row align-items-center"
                th:if="${T(java.time.LocalDate).now().isAfter(prod.discountProduct[0].start_Date) and T(java.time.LocalDate).now().isBefore(prod.discountProduct[0].end_Date)
						or  T(java.time.LocalDate).now() == prod.discountProduct[0].start_Date or T(java.time.LocalDate).now() == prod.discountProduct[0].end_Date}"
              >
                <span
                  class="act-price"
                  th:text="${prod.discountProduct[0].percentage + '%'}"
                ></span>
                <span
                  class="price"
                  th:text="${'$' + (prod.price - (prod.price * prod.discountProduct[0].percentage / 100))}"
                ></span>
                <small class="dis-price" th:text="${'$' + prod.price}"></small>
                <span
                  th:unless="${prod.discountProduct != null and not #lists.isEmpty(prod.discountProduct)}"
                >
                  <span
                    style="font-weight: bold"
                    th:text="${#numbers.formatInteger(prod.price, 2)} +' VND'"
                  ></span>
                </span>
              </div>
            </div>

            <!-- Check if there are discount products -->
            <div class="product-price mt-3">
              <!-- Assuming prod.name contains the product name -->
              <span
                th:unless="${prod.discountProduct != null and not #lists.isEmpty(prod.discountProduct)}"
              >
                <span
                  style="font-weight: bold"
                  th:text="${#numbers.formatInteger(prod.price, 2)} +' VND'"
                ></span>
              </span>
            </div>

            <div class="btn-group" role="group" aria-label="Chọn Size">
              <th:block th:each="size : *{sizes}">

							<th:block th:if="${prodd.![sizes].contains(size)}">
								<th:block th:each="item : ${prodd}">
									<th:block th:if="${item.sizes == size}">
										<th:block th:with="isInDatabase=true">
											<th:block th:if="${item.quantity > 0}">
												<button type="button" class="btn btn-dark m-2"
													th:text="${size}" ng-click="getSize($event)"></button>
											</th:block>
											<th:block th:if="${item.quantity == 0}">
												<button type="button" class="btn btn-secondary disabled m-2"
													th:text="${size}"></button>
											</th:block>
										</th:block>
									</th:block>

								</th:block>
							</th:block>
							<th:block th:unless="${prodd.![sizes].contains(size)}">
								<button type="button" class="btn btn-secondary disabled m-2"
									th:text="${size}"></button>
							</th:block>

						</th:block>
          </th:block>
            </div>

            <br />

            <!-- <select ng-model="selectedSize" class="form-control mb-2 mt-3">
						<option value="" disabled selected>Chọn Size</option>
						<option th:each="item : ${prodd}" th:if="${item.quantity > 0}"
							th:value="${item.sizes}" th:text="${item.sizes}"></option>
					</select> -->
            <span class="text-uppercase" style="font-weight: bold"
              >Quantity :
            </span>
            <input
              name="count"
              class="mt-3"
              type="number"
              min="1"
              style="width: 60px; border: none"
              ng-model="quantity"
              ng-init="quantity = 1"
            />
            <div class="cart mt-4 align-items-center">
              <button
                th:attr="ng-click=@{|cart.add(${prod.id})|}"
                class="addCart btn btn-outline-dark text-uppercase mr-2 px-4"
                style="font-weight: bold"
              >
                Thêm vào giỏ hàng
              </button>
            </div>
            <div class="cart mt-4 align-items-center">
              <a
                href="/shop.html"
                style="font-weight: bold"
                class="addCart btn btn-outline-dark text-uppercase mr-2 px-4"
                >Tiếp tục mua sắm
              </a>
            </div>
            <div class="mt-5 be-vietnam">
              <h4
                class="dropdown-toggle"
                data-bs-toggle="collapse"
                href="#Policy"
                style="color: #333; max-width: 120px; font-weight: 500"
              >
                Chi tiết sản phẩm
              </h4>
              <div class="collapse" id="Policy">
                <div class="content">
                  <h6>1. Chất liệu:</h6>
                  <p>- Chất liệu 100% cotton 2 chiều thấm hút mồ hôi tốt.</p>
                  <p>- Mềm mại, thoáng mát, không xù lông.</p>
                  <h6>2. Công nghệ in:</h6>
                  <p>- Được in ấn theo công nghệ DTG tốt nhất hiện nay.</p>
                  <p>- Chất lượng hình ảnh sắc nét, không bong tróc.</p>
                  <h6>3. Form dáng:</h6>
                  <p>- Kiểu dáng unisex tạo cảm giác thoải mái, trẻ trung.</p>
                </div>
              </div>
            </div>
            <div class="mt-5 be-vietnam">
              <h4
                class="dropdown-toggle"
                data-bs-toggle="collapse"
                href="#delivery"
                style="color: #333; max-width: 120px; font-weight: 500"
              >
                Bảng kích cỡ
              </h4>
              <div class="collapse" id="delivery">
                <div class="content">
                  <img alt="" src="../../../image/size.jpg" width="100%" />
                </div>
              </div>
            </div>
            <div class="mt-5 be-vietnam">
              <h4
                class="dropdown-toggle"
                data-bs-toggle="collapse"
                href="#deliveryPolicy"
                style="color: #333; max-width: 120px; font-weight: 500"
              >
                Chính sách vận chuyển và đổi trả
              </h4>
              <div class="collapse" id="deliveryPolicy">
                <div class="content">
                  <br />
                  <h6 style="font-weight: bold">1. Giao hàng tận nhà</h6>
                  <p>
                    - Miễn phí giao hàng với tất cả các đơn hàng trên toàn quốc.
                  </p>
                  <br />
                  <h6 style="font-weight: bold">2. Thời gian giao hàng</h6>
                  <p>
                    - Đơn hàng sẽ được trao đến tận tay cho quý khách trung bình
                    từ 3 đến 4 ngày sau khi chốt đơn hàng.
                  </p>
                  <br />
                  <h6 style="font-weight: bold">3. Đổi trả</h6>
                  <p>
                    - Gian hàng sẽ chịu toàn bộ trách nhiệm về các rủi ro như
                    mất mát hoặc hư hại của sản phẩm trong suốt quá trình vận
                    chuyển từ kho đến khách hàng.
                  </p>
                  <p>
                    - Nếu trong quá trình nhận hàng khách hàng thấy bất thường
                    có thể liên hệ ngay bộ phận chăm sóc khách hàng của nhóm để
                    xử lý ngay (hotline: 0922128168)
                  </p>
                  <p>
                    - Hãy trả lại trong vòng 7 ngày kể từ ngày nhận được đơn
                    hàng của bạn. Vui lòng đảm bảo mặt hàng vẫn giữ nguyên tình
                    trạng ban đầu, với bao bì, tag sản phẩm và các phụ kiện đi
                    kèm (nếu có) đầy đủ và nguyên vẹn. Nếu không thỏa các điều
                    kiện trên chúng tôi xin phép không nhận đổi trả sản phẩm.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="border-bottom: groove" class="mt-5"></div>

        <div class="container">
          <!-- The Modal -->
          <div class="modal" id="myModal">
            <div class="modal-dialog" style="margin-top: 300px">
              <div class="modal-content">
                <!-- Modal body -->
                <h5 class="text-center mb-2 mt-3">
                  Thêm vào giỏ hàng thành công
                </h5>
                <div class="modal-body">
                  <h3 class="text-center">
                    <i
                      class="fa-solid fa-success fa-check fa-2xl"
                      style="color: red"
                    ></i>
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Bootstrap 5.3.1 JavaScript (Popper.js là một phần bắt buộc của Bootstrap) -->

      <h1 style="text-align: center">Mặt hàng liên quan</h1>
      <div class="container">
        <div class="row col-sm-12">
          <div
            class="col-md-3 col-sm-3 col-12"
            th:each="pro, iterStart : ${prod.category.products}"
          >
            <div class="product-card-shoe">
              <div class="product-image-container">
                <a th:href="@{|/shop-single.html/${pro.id}|}"
                  ><img
                    class="product-image-shoe"
                    th:src="@{|/images/${pro.images[0].image}|}"
                    th:alt="${pro.name}"
                /></a>
                <div
                  class="discount-badge-shoe"
                  th:if="${pro.discountProduct != null and not #lists.isEmpty(pro.discountProduct) and
                             (T(java.time.LocalDate).now().isAfter(pro.discountProduct[0].start_Date) and
                             (T(java.time.LocalDate).now().isBefore(pro.discountProduct[0].end_Date) or
                             T(java.time.LocalDate).now().isEqual(pro.discountProduct[0].end_Date)))} and ${pro.discountProduct[0].active}"
                >
                  <span
                    th:text="${pro.discountProduct[0].percentage + '%'}"
                  ></span>
                </div>
              </div>
              <div class="product-details-shoe">
                <div
                  class="product-title-shoe text-truncate"
                  th:text="${pro.name}"
                ></div>
                <div
                  th:if="${pro.discountProduct != null and not #lists.isEmpty(pro.discountProduct) and
                             pro.discountProduct[0].active and
                             (T(java.time.LocalDate).now().isAfter(pro.discountProduct[0].start_Date) and
                             (T(java.time.LocalDate).now().isBefore(pro.discountProduct[0].end_Date) or
                             T(java.time.LocalDate).now().isEqual(pro.discountProduct[0].end_Date)))} and ${pro.discountProduct[0].active}"
                >
                  <span
                    class="product-price-shoe"
                    th:text="${'$' + (pro.price - (pro.price * pro.discountProduct[0].percentage / 100))}"
                  ></span>
                  <del
                    class="original-price-shoe"
                    th:text="${#numbers.formatInteger(pro.price, 2)} +' VND'}"
                  ></del>
                </div>
                <div
                  class="product-price-shoe"
                  th:if="${pro.discountProduct != null and not #lists.isEmpty(pro.discountProduct) and
                             (T(java.time.LocalDate).now().isBefore(pro.discountProduct[0].start_Date) or
                             T(java.time.LocalDate).now().isAfter(pro.discountProduct[0].end_Date))} and ${pro.discountProduct[0].active}"
                ></div>
                <div
                  class="product-price-shoe"
                  th:unless="${pro.discountProduct != null and not #lists.isEmpty(pro.discountProduct) and pro.discountProduct[0].active}"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@2.11.6/dist/umd/popper.min.js"></script>

    <script>
      $(document).ready(function () {
        var isFormDisplayed = false;

        $(".reply-btn").click(function () {
          var commentId = $(this).data("comment-id");
          if (isFormDisplayed) {
            $(".reply-form").hide();
            $(this).text("Reply");
            isFormDisplayed = false;
          } else {
            $(".reply-form").hide();

            $(this).siblings(".reply-form").show();
            $(this).text("Hide");
            isFormDisplayed = true;
          }
        });
      });
    </script>
    <script>
      $(document).ready(function () {
        var isEditFormDisplayed = false;

        $(".edit-comment-btn").click(function () {
          var commentId = $(this).data("comment-id");

          if (isEditFormDisplayed) {
            $(".edit-comment-form").hide();
            $(this).text("Edit");
            isEditFormDisplayed = false;
          } else {
            // Hide all other edit forms
            $(".edit-comment-form").hide();

            // Show the edit form associated with the clicked "Edit" button
            var editForm = $(this).siblings(".edit-comment-form");
            editForm.data("comment-id", commentId).show();
            $(this).text("Hide");
            isEditFormDisplayed = true;
          }
        });

        $(".cancel-update").click(function () {
          // Hide the corresponding edit form when cancel is clicked
          var commentId = $(this)
            .closest(".edit-comment-form")
            .data("comment-id");
          var editForm = $(
            '.edit-comment-form[data-comment-id="' + commentId + '"]'
          );
          editForm.hide();
          isEditFormDisplayed = false;
        });
      });
    </script>
  </body>
</html>
