<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/layout.html::dynamic(~{::title}, ~{::body})}">
<head>
<title>Shoe Galaxy</title>
<meta charset="utf-8">
</head>
<body>
	<div class="bg-light py-3">
		<div class="container">
			<div class="row">
				<div class="col-md-12 mb-0">
					<a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <strong
						class="text-black" th:text="${prod.name}"></strong>
				</div>
			</div>
		</div>
	</div>

	<div class="site-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<!-- <img src="../../images/${prod.image}" alt="Image" class="img-fluid"> -->
					<img th:src="@{|/images/${prod.image}|}" alt="Image"
						class="img-fluid" style="border-radius: 20px">
				</div>
				<div class="col-md-6">
					<p th:text="${prod.name}"></p>
					<div>
					
					
					
						<!-- Hiển thị giá gốc (nếu có) -->
						<p th:if="${prod.discount_sale == null}" class="text-primary h4"
							th:text="${'$' + prod.price}"  ng-model ='totalAmount'></p>


						<!-- Hiển thị giá giảm giá (nếu có) -->
						<p th:if="${prod.discount_sale != null}"
							 class="text-primary h4"
							th:text="${'$' + (prod.price - (prod.price * prod.discount_sale.percentage / 100))} "  ng-model ='totalAmount'></p>

						<!-- Hiển thị giá gốc (nếu có) với gạch ngang -->
						<p th:if="${prod.discount_sale != null}"
							class="text-primary h4" style="text-decoration: line-through;"
							th:text="${'$' + prod.price}"></p>
					</div>
					<p>
						<!-- <strong class="text-primary h4" th:text="'$ ' + ${prod.price}">
						</strong> -->
					</p>
					<p>
						<!-- <select >
							<option value="">Vui lòng chọn size</option>
							<option ng-repeat="item in prodd" value="{{item.size}}">{{item.size}}</option>
						</select> -->

						<select ng-model="selectedSize" class="form-control">
							<option value="" disabled selected>Chọn Size</option>
							<option th:each="item : ${prodd}" th:value="${item.sizes}"
								th:text="${item.sizes}"></option>
						</select> <a th:attr="ng-click=@{|cart.add(${prod.id})|}"
							class="mt-5 buy-now btn btn-sm w-100 btn-primary"
							style="color: white" ng-click="saveToLocalStorage()">Add To Cart</a>
					</p>

					<p>
						<a href="/shop.html" class="btn btn-primary btn-sm btn-block">Continue
							Shopping</a>
					</p>

				</div>

			</div>
			<!--  tab -->
			<div style="border-bottom: groove;"></div>
			<h1 style="text-align: center;">Mặt hàng liên quan</h1>
			<div class="row">
				<div class="col-lg-3 " th:each="item : ${prod.category.products}">
					<div class="list-item wsk-cp-product">
						<div class="block-4-image wsk-cp-image">
							<a th:href="@{|/shop-single.html/${item.id}|}"> <img
								th:src="@{|/images/${item.image}|}" width="100%"
								alt="Image placeholder" class="img-thumb">
							</a>
						</div>
						<div class="item-details">
							<h3 class="text-truncate" th:text="${item.name}"></h3>
							<p class="price" th:text="${'Giá: ' + item.price + ' VNĐ'}"></p>
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>
</body>

</html>